<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ladecentro"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.profile.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.authentication.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.authentication.verify.VerifyActivity"
            android:exported="false"
            android:label="@string/title_activity_verify"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.home.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.stores.StoresActivity"
            android:exported="false"
            android:label="@string/title_activity_stores"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.orders.MyOrdersActivity"
            android:exported="false"
            android:label="@string/title_activity_my_orders"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.search.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.cart.CartActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.spalsh.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Ladecentro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>