<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ladecentro"
        tools:targetApi="31" >
        <activity
            android:name=".presentation.ui.cart.details.CartDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.order.details.OrderDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_order_details"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.address.addresses.AddressesActivity"
            android:exported="false"
            android:label="@string/title_activity_addresses"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.address.add.AddAddressActivity"
            android:exported="false"
            android:label="@string/title_activity_add_address"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.location.maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.location.select.LocationActivity"
            android:exported="false"
            android:label="@string/title_activity_location"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.profile.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.authentication.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.authentication.verify.VerifyActivity"
            android:exported="false"
            android:label="@string/title_activity_verify"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.home.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.stores.stores.StoresActivity"
            android:exported="false"
            android:label="@string/title_activity_stores"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.stores.details.StoreActivity"
            android:exported="false"
            android:label="@string/title_activity_store"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.order.orders.MyOrdersActivity"
            android:exported="false"
            android:label="@string/title_activity_my_orders"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.search.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.cart.carts.CartActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:theme="@style/Theme.Ladecentro" />
        <activity
            android:name=".presentation.ui.spalsh.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Ladecentro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAmx7yRzVdbuN9JXpsfCCGHMyV3C56CsIM" />
    </application>

</manifest>